* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
    color: #4a148c;
}

/* Navigation Bar */



.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid #6b2192;
    background-color: #F8F7FA;
  }
  
  .logo h1 {
    display: flex;
    align-items: center;
    color: #6b2192;
  }
  
  .logo img {
    height: 40px;
    width: 150px;
    margin-right: 10px;
  }
  
  .logo span {
    color: #6b2192;
    font-size: 18px;
    font-weight: bold;
  }
  
  .nav-links {
    cursor: pointer;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  
  .nav-links li {
    margin-left: 30px;
    position: relative;
  }
  
  .nav-links li a {
    color: #6b2192;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
  }
  
  .nav-links a:hover, .nav-links a.active, 
  .account a:hover, .account a.active {
      color: #6b2192;
      background-color: #efe4fc;
      font-weight: bold;
  }
  
  .dropdown .caret {
    font-size: 20px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 4px 8px #6b2192;
    z-index: 1;
    border-radius: 5px;
  }
  
  .dropdown-content a {
    color: #6b2192;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 14px;
  }
  
  .dropdown-content a:hover {
    background-color: #f3e8fc;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .account {
    display: flex;
    align-items: center;
  }
  
  .accountimg {
    width: 50px;
    height: 40px;
    border-radius: 70%;
    border: #F8F7FA;
  }
  
  .account a {
    color: #4e0073;
    text-decoration: none;
    padding: 3px;
    font-size: 16px;
  }
  
  #content {
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content-item {
    display: none;
    font-size: 24px;
    margin: 20px 0;
  }
  
  .show {
    display: block;
  }
  

/* mentors track  */
.main-content {
    display: flex;
    justify-content: space-between; /* Space between mentors and image */
    align-items: flex-start; /* Align items at the top */
     /* Space between the mentor track and the large image */
    
}
.mentor-track {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 50px;
    text-align: center;
    
}

.mentor {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
}

.mentor img {
    border-radius: 50%;
    margin-right: 30px;
    margin-bottom: 60px;
    height: 100px;
}




.session-btn {
    background: linear-gradient(45deg, #7E34C8, #94309D);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    width: 500px;
    height: 60px;
    margin-bottom: 15px;
}

.session-details {
    display: none; 
    color: #A03EB8; 
    font-size: 18px; 
    padding-left: 50px; 
    text-align: left; 
}

.session-details .list li {
    margin-bottom: 10px; 
}

.session-details .list li a {
    text-decoration: none; 
    color: #A03EB8; 
}

.session-details .list li a:hover {
    text-decoration:dotted; 
    color: #6b2192; 
}

.list-style-type {
display: block;
background-color: #fff;
text-align: left;
padding: 5px;
}

ul li{
    margin: 15px;
}

/* Large image styles */
.large-image {
    width: 35%; /* Adjust width as needed */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.large-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}




/* footer   */


.container {
    height: 250px;
    position: relative;
    display: flex;
    justify-content:space-evenly;
    
    
    /* align-items: center; */
    padding: 40px;
    background-color: #F8F7FA;
    
}
/* .logo {
    display: flex;
    align-items: center;
    font-size: 20px;
} */
/* .logo img {
    margin-right: 10px;
} */
.logo h1 {
    font-size: 30px;
    font-weight: bold;
    color: #5e2485;
    margin: 0;
}
.links {
    display: flex;
    
}
.links h3 {
    font-size: 1.1rem;
    font-weight: bold;
    color: #5e2485;
    margin-bottom: 10px;
}
.links ul {
    list-style: none;
    padding: 0;
}
.links li {
    color: #5e2485;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 20px;
}
.social {
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.simg {
    width: 20px;

}

.back-to-top {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #F8F7FA;
    border-radius: 10%;
    border: #F8F7FA;
    padding: 10px;
    color: #F8F7FA;
    
}


