body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:white;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #ce16b9;
}

h1 span {
    color: #5e2485;
}

.top-three {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    gap: 20px;
}

.top-three div {
    width: 150px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
    position: relative;
}

.top-three div h2 {
    font-size: 1.2rem;
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.top-three div p {
    font-size: 1.2rem;
    color: #ce16b9; 
}

.top-three div .rank-number {
    font-size: 20px;
    font-weight: bold;
    color: #ce16b9;
    position: absolute;
    top: -10px;
    
}

.scoreboard {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

.scoreboard-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.scoreboard-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    align-items: center;
}

.scoreboard-item span {
    font-size: 1.2rem;
}

.rank {
    color: #ce16b9;
    font-weight: bold;
}

.name {
    font-weight: bold;
    color: #333;
}

.points {
    color:#ce16b9;
}

.icon {
    margin-left: 10px;
}


/* navbar  */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 10px 20px; */
    border-bottom: 3px solid #860cab;
    background-color: #F8F7FA;
}

.logo h1 {
    display: flex;
    align-items: center;
}


.logo img {
    height: 40px;
    width: 150px;
    margin-right: 10px;
}

.logo span {
    color: #4e0073;
    font-size: 18px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}

.nav-links li {
    margin-left: 30px;
    position: relative;
}

.nav-links li a {
    color: #4e0073;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
}

.nav-links a:hover {
    color: #4e0073;
    background-color: #f3e8fc;
    
}




.dropdown .caret {
    font-size: 20px;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: #4e0073;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #f3e8fc;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.account {
    display: flex;
    align-items: center;
}

.accountimg{
    width: 50px;
    height: 40px;
    border-radius: 70%;
    border: #F8F7FA;

}
.account a {
    color: #4e0073;
    text-decoration: none;
    padding: 3px;
    font-size: 16px;
}


/* footer  */

.containerf {
    height: 250px;
    position: relative;
    display: flex;
    justify-content:space-evenly;
    
    
    /* align-items: center; */
    padding: 40px;
    background-color: #F8F7FA;
    
}
/* .logo {
    display: flex;
    align-items: center;
    font-size: 20px;
} */
/* .logo img {
    margin-right: 10px;
} */
.logo h1 {
    font-size: 30px;
    font-weight: bold;
    color: #5e2485;
    margin: 0;
}
.links {
    display: flex;
    
}
.links h3 {
    font-size: 1.1rem;
    font-weight: bold;
    color: #5e2485;
    margin-bottom: 10px;
}
.links ul {
    list-style: none;
    padding: 0;
}
.links li {
    color: #5e2485;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 20px;
}
.social {
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.simg {
    width: 20px;

}

.back-to-top {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #F8F7FA;
    border-radius: 10%;
    border: #F8F7FA;
    padding: 10px;
    color: #F8F7FA;
    
}
